*{
  margin: 0%;
  padding: 0%;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #080808;
  color: #fff;
}
.container{
  padding: 10px 10%;
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}
.logo{
  width: 300px;
  }
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: #ff004f;
position:absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text h1{
   font-size: 60px;
   margin-top: 50;
}
.header-text h1 span{
  color: #ff004f;
}
.about-col2{
  font-size: 40px;
  color: #ababab;

}
.para{
  margin-top: 20px;
  font-size: 25px;
}
.tabs{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom:-8px;
  transition: 0.5s;
}
.tab-links.active::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #b54769;
  font-size: 20px;
}
.tab-contents{
  display: none;
}
.tab-contents.activetab{
display: block;
}
.work1{
  margin-top: 15px;
  font-size: 20px;
 
}
.work1 span{
  color: #ff004f;
  
}
.title{
   color:#ababab ;
  font-size: 40px;
  text-align: center;
}
.icons{
  color: #fff;
  text-align: center;
  margin-top: 10px;
  word-spacing: 15px;
}
.word{
  word-spacing: 50px;
  text-align: center;
}
#contact{
  background-color: #2a2929;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border:1px solid #ff004f ;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;

}
.btn:hover{
  background: #ff004f;
 }
 /*------- css for small screen----*/
 @media only screen and (max-with: 600px){

 }
 .contactleft{
  display: block;
 }
